<%- include("./partials/header") %> 
<div class="container">
	<div class="">
		<div>
			<%json.forEach(function(d){ %>
				
			<img src= "<%=d['urls'].small%>" >
		<%});%>
			
	</div>
		
			
</div>
		

<%- include("./partials/footer") %> 